[Desktop Entry]
Encoding=UTF-8
Name=Dirhamcoin
Comment=Dirhamcoin P2P Cryptocurrency
Comment[fr]=Dirhamcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dirhamcoin, eşten eşe kriptografik sanal para birimi
Exec=dirhamcoin-qt %u
Terminal=false
Type=Application
Icon=dirhamcoin128
MimeType=x-scheme-handler/dirhamcoin;
Categories=Office;Finance;
